/* PAGE COLORS */
body {
  background-color: var(--color-pink-medium);
  color: var(--color-pink);
}

/* METADATA BAR */
.header-info {
  mix-blend-mode: normal;
}
.header-info p,
.footer {
  color: var(--color-text);
}

/* MAIN */
#chi-sono {
  margin-top: 3rem;
}

/* NAME + INTRO */
.about__name :is(h1, p),
.about__intro {
  font-size: 2.125rem;
  line-height: 1.05;
  letter-spacing: -0.015em;
  font-weight: 400;
}

/* NAME + INTRO + FATCS */
.about__name,
.about__intro,
.about__facts {
  max-width: 90rem;
  margin-inline: auto; /* centra ogni blocco */
}

/* NAME */
.about__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

/* INTRO */
.about__intro {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

/* FACTS */
.about__facts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.about__facts dt {
  font-size: 2.125rem;
  font-weight: 500;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

.about__facts dt::before {
  content: "[";
}

.about__facts dt::after {
  content: "]";
}

.about__facts dd {
  margin: 0;
  font-size: 1.125rem;
  letter-spacing: -0.015em;
}
